<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{usuario.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/usuarios/listar}"
					papel="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{usuario.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${usuario.id == null} ? @{/usuarios/salvar} : @{/usuarios/editar}"
				th:object="${usuario}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{usuario.email.label}" for="email"></label> 
						<input type="text" class="form-control" id="email"
							th:placeholder="#{usuario.email.label}"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.senha.label}" for="senha"></label> 
						<input type="text" class="form-control" id="senha"
							th:placeholder="#{usuario.senha.label}" autofocus="autofocus"
							th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:readonly="${usuario.id != null}"/>
							
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{usuario.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" th:field="*{nome}"
							th:placeholder="#{usuario.nome.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{usuario.papel.label}" for="papel"></label> 
						<select id="papel" class="form-control" th:field="*{papel}"
							th:classappend="${#fields.hasErrors('papel')} ? is-invalid">
							<option value="ROLE_ADMIN">ROLE_ADMIN</option>
							<option value="ROLE_PROFISSIONAL">ROLE_PROFISSIONAL</option>
							<option value="ROLE_EMPRESA">ROLE_EMPRESA</option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{papel}"></span>
						</div>
					</div>
                    <!--
                    <div class="form-group col-md-6">
						<label th:text="#{usuario.enabled.label}" for="enabled"></label> 
						<input type="checkbox" id="enabled" class="form-control" th:field="*{enabled}" />
					</div>
                    -->
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>