body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 80%;
}

img {
    width: 42px;
    height: 42px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 50px;
}

.navbar {
    display: flex;
    justify-items: center;
    background-color: cyan;
}

.rigth {
    display: flex;
    justify-items: center;
    justify-content: center;
}

p {
    font-size: 22px;
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vagas {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.tabelaVagas {
    padding: 20px 70px;
}